# Core functionality - changes here should be rare!
/src/app.py                   @MayaOrif
/src/backend/database.py      @MayaOrif
/src/backend/routers/auth.py  @MayaOrif

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MayaOrif
